* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3F2FD;
}

.wrapper {
    width: 1050px;
    border-radius: 20px;
    padding: 35px 40px;
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper header {
    color: #B2B2B2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 15px;
}

.volume-slider input {
    accent-color: #FFF;
    outline: none;
}

.keys-checkbox input {
    appearance: none;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: #4B4B4B;
    cursor: pointer;
    position: relative;
    outline: none;
}

.keys-checkbox input::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background: #8C8C8C;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: all .3s ease;
}

.keys-checkbox input:checked::before {
    left: 35px;
    background: #FFF;
}

.piano-keys {
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    list-style: none;
    color: #A2A2A2;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.piano-keys .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    background: linear-gradient(#FFF 96%, #EEE 4%);
    border: 1px solid #000;
}

.piano-keys .white:hover,
.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,.2);
    background: linear-gradient(to bottom, #FFF 0%, #EEE 100%);
}

.piano-keys .black {
    height: 140px;
    width: 44px;
    margin: 0 -22px 0 -22px;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}

.piano-keys .black:hover,
.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255,255,255,.1);
    background: linear-gradient(to bottom, #000, #434343);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

.piano-keys .key.hide span {
    display: none;
}